#mobile-header {
  #ocw-logo-mobile {
    width: 250px;
    height: 39px;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -18px;
  }
}

$desktop-header-height: 116px;
$desktop-header-max-width: 1664px;

#desktop-header {
  height: $desktop-header-height;
  width: 100%;
  position: absolute;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .contents {
    display: flex;
    justify-content: space-between;
    max-width: $max-content-width;
    margin: auto;
    height: 100%;

    .right,
    .left {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    .left {
      .ocw-logo {
        img {
          height: 40px;
        }
      }
    }

    .right {
      justify-content: flex-end;

      a {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.search-wrapper {
  #desktop-header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contents {
      width: 100%;
      max-width: $desktop-header-max-width;
      background-color: black;

      .right {
        a {
          &.orange-link {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

#course-banner {
  color: $white;
  background-color: $blue;

  a {
    text-decoration: none;
  }
}

.header-placeholder {
  height: $desktop-header-height;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
